*.o
*.exe
*.db
c/*.test
cpp/*.test
*.pyc
*.vglog

client/mosquitto_pub
client/mosquitto_sub
examples/mysql_log/mosquitto_mysql_log
examples/temperature_conversion/mqtt_temperature_conversion
man/mosquitto.8
man/mosquitto-tls.7
man/mosquitto.conf.5
man/libmosquitto.3
man/mosquitto_passwd.1
man/mosquitto_pub.1
man/mosquitto_sub.1
man/mqtt.7
src/db_dump/mosquitto_db_dump
src/mosquitto
src/mosquitto_passwd
test/broker/broker.pid
test/test_client
test/fake_user
test/msgsps_pub
test/msgsps_sub
test/msgsps_pub.dat
test/msgsps_sub.dat
test/broker/c/auth_plugin.so

lib/cpp/libmosquittopp.so*
lib/libmosquitto.so*
lib/libmosquitto.a

test/ssl/*.csr

test/lib/c/*.test
test/lib/cpp/*.test

build/
dist/
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/3.6.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.6.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.6.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.6.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.6.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.6.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.6.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
